* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

label {
    font-size: 1.6rem;
}

.register__wrap {
    background-color: #f0f2f5;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.register__logo {
    background-color: #0066ff;
    text-align: center;
    padding: 10px;
}

.wrap {
    background-color: #fff;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register__input-username,
.register__input-password,
.register__input-confirm-password,
.register__input-account {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    height: 52px;
    border-color: #6e2222;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    padding-left: 10px;
    margin-bottom: 14px;
}

    .register__input-account:focus,
    .register__input-username:focus,
    .register__input-password:focus,
    .register__input-confirm-password:focus {
        border-color: #0066ff;
        outline: none;
    }

.register__input-password {
}

.register__input-submit,
.register__button-register {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    color: #fff;
    background-color: #0066ff;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 25px;
}

    .register__input-submit:hover {
        cursor: pointer;
        background-color: rgba(0, 102, 255, 0.8);
    }

    .register__button-register:hover {
        cursor: pointer;
        background-color: rgba(66, 183, 42, 0.8);
    }

.seperate-space {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.register__button-register {
    background-color: #42b72a;
    width: 50%;
    margin: auto;
}

.register__button-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}
